html,
body {
  margin: 0;
  padding: 0;
}

main {
  width: 90vw;
  max-width: 600px;
  margin: auto;
}

section {
  font: 1.125rem 'Helvetica';
}

section:not(.read) {
  opacity: 0;
}

section.read {
  animation-name: fadeIn;
  animation-duration: 150ms;
}

button.next {
  width: 75px;
  height: 25px;
  color: white;
  background-color: green;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}